<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
<link rel="stylesheet" href="/css/blue.css"  type="text/css" >
  <title>登录</title>

</head>
<body>
<h1 class="title">用户登录</h1>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <form id="loginForm" method="post">
      <div class="input-container">
        <label for="#{label}">用户名:</label>
        <input type="text" name="user" required="required" />
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <label for="#{label}">密  码:</label>
        <input type="password" name="pwd" required="required" />
        <div class="bar"></div>
      </div>

      <div2>
        <button  type="button" id="btn" onclick="login()">登录</button>
        <button type="button" id="btn2" onclick="window.location.href='/Register'">注册</button>
      </div2>
      <div><p style="color: red;text-align: center" id="err_msg"></p></div>
    </form>
  </div>
</div>

<script src='/js/jquery.min.js'></script>
<script >
  $(".toggle").on("click", function () {
    $(".container").stop().addClass("active");
  });

  $(".close").on("click", function () {
    $(".container").stop().removeClass("active");
  });

  $("#btn").click(function () {
    $.post("Login?",$("#loginForm").serialize(),function(res){
      if (res.code){
        console.log(res);
        location.href = "main";
      } else {
        console.log(res);
        $("#err_msg").html(res.message);
      }
    },"json");
  });


</script>
</div>
</body>
</html>

